html, body {
    background-color: #3d3d3d;
    color: #ffffff;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.calculator {
    width: 320px;
    margin: 50px auto;
    border: 4px solid #8a8071;
    border-radius: 5px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    padding: 10px;
    background-color: #1d1f20;
    text-align: right;
    font-size: 38px;
}

#output {
    font-size: 19px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    background-color: #1d1f20;
    border-top: 4px solid #8a8071;
}

button {
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #1d1f20;
    border: 2px solid white;
    cursor: pointer;
}

.clear {
    grid-column: 1 / span 2;
}

.operator {
    background-color: #ff9900;
    color: white;
}

.equals {
    background-color: #00cc66;
    color: white;
    grid-column: 3 / span 2;
}

.clear:hover,
.backspace:hover,
.number:hover,
.decimal:hover,
.equals:hover {
    background-color: #ff9900;
}

.operator:hover {
    background-color: #00cc66;
}

.clear:active,
.backspace:active,
.number:active,
.operator:active,
.decimal:active,
.equals:active {
    box-shadow: none;
    transform: translateY(2px);
}

.decimal {
    background-color: #b3b3b3;
}

@media (max-width: 480px) {
    .calculator {
        width: 100%;
        margin: 50px 0;
        border-radius: 0;
        box-shadow: none;
        border: none;
    }

    .display {
        height: 80px;
        font-size: 30px;
    }

    button {
        font-size: 20px;
        padding: 8px;
    }
}

@media (max-width: 320px) {
    .display {
        height: 60px;
        font-size: 20px;
    }

    button {
        font-size: 16px;
        padding: 6px;
    }
}